:root {
    --jump-height: -40vh;
    --jump-time: 0.7s;
}

@font-face {
    font-family: heebo;
    src: url("assets/fonts/Heebo-VariableFont_wght.ttf");
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
     50% {
        transform: translateY(var(--jump-height));
    } 100% {
        transform: translateY(0);
    }
}

@keyframes obstacleMove {
    from {
        right: 0;
    } to {
        left: 0;
    }
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: heebo;
}

body {
    background-image: url("assets/media/background.svg"), url("assets/media/background.svg");
    background-position: center top;
    background-position-y: -10vh;
    background-size: 93% 100%;
    background-repeat: repeat-x;
    /* animation: bg-animation 2s infinite; */
    /* transition: background-position 0.01s; */

}

.black-screen {
    background-color: rgba(0, 0, 0, 0.689);
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    direction: rtl;
}

.none {
    display: none;
}

.road {
    width: 100vw;
    height: 30vh;
    background-image: url("assets/media/road.svg");
    background-size: 93% 100%;
    background-repeat: repeat-x;
    /* transition: background-position 1s; */
    position: absolute;
    bottom: 15vh;
    z-index: -1;
    
}

#tembel {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 21.5vh;
    left: 6vw;
    filter: brightness(1.5);
    /* animation: jump var(--jump-time) cubic-bezier(0.43, -0.01, 0.79, 1.13) infinite; */
}

.jump {
    animation: jump var(--jump-time);
    /* animation: jump var(--jump-time) cubic-bezier(0.43, -0.01, 0.79, 1.13); */
    /* cubic-bezier(.34,.03,.73,.26) */
}

.obstacle {
    position: absolute;
    bottom: 21.5vh;
    right: 0vw;
    width: 3vw;
    transition: right 0.1s;
}

.tall-obstacle {
    background-image: url();
    background-color: blueviolet;
    height: 15vw;
}

.short-obstacle {
    background-image: url();
    background-color: brown;
    height: 12vw;
}

.pause-btn {
    position: fixed;
    top: 2vh;
    right: 1vw;
    width: 4vw;
    height: auto;
}

.open-text {
    font-size: 2em;
}

#start-text {
    padding: 5vh 5vw;
    line-height: 3em;
}

.text {
    border-radius: 1em;
    background-color: #a59267;
    margin: auto;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10vh 0 11vh;
}

.btn {
    display: inline-block;
    margin: 3vh 1vw;
    font-size: 2em;
    background-color: #725326;
    border-radius: 0.5em;
    padding: 1vh 1vw;
    color: white;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2vh;
}

.timer {
    font-size: 20em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(171, 171, 171, 0.582);
    border-radius: 50%;
    padding: 6vh 20vw;
}

#end-message {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.end-pic {
    width: 50%;
    height: auto;

}

.replay {
    display: block;
    margin: 3vh auto;
    font-size: 2em;
    background-color: #725326;
    border-radius: 0.5em;
    padding: 1vh 1vw;
    color: white;
    width: 50%;
}

.end {
    border-radius: 1em;
    background-color: #a59267;
    margin: auto;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vh 0 1vh; 
}